<%# Content Heading %>
<% if (title) { %>
    <h1 id="login-header">
    <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<h2 id="account-welcome">Welcome, <%= clientName %>!</h2>

<div class="management">

<a href="/account/update">Update Account Information</a>

<% if (clientType == "Employee" || clientType == "Admin") { %>
    <a href="/inv/management">Inventory Management</a>
<% } %>

</div>