<%# Content Heading %>
<% if (title) { %>
    <h1 id="login-header">
    <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

<form action="/account/registration" method="post" class="registration">
    <p class="requred">(Fields marked with a * are required)</p>
    <label for="account_firstname">First Name<span class="required-asterisk">*</span>:</label>
    <input type="text" id="account_firstname" name="account_firstname" required>
    <label for="account_lastname">Last Name<span class="required-asterisk">*</span>:</label>
    <input type="text" id="account_lastname" name="account_lastname" required>
    <label for="account_email">Email<span class="required-asterisk">*</span>:</label>
    <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address">
    <label for="account_password">Password<span class="required-asterisk">*</span>:</label>
    <p class="required">
        <ul id="required-list">
            <li>Min 12 characters</li>
            <li>Contain at least 1 capital letter</li>
            <li>Contain at least 1 number</li>
            <li>Contain at least 1 special character</li>
        </ul>
    </p>
    <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <input type="submit" value="Register" id="login-button">
</form>