:root {
  /* colors */
  --text: #11141d;
  --background: #ffffff;
  --primary: #2b375e;
  --secondary: #90a0d0;
  --accent: #435fb1;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
body {
  font-family: "Noto Sans Coptic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--background);
  width: 100%;
  margin: 0;
  height: 100%;
}

/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*************** Header ***************/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.siteName {
  display: flex;
  align-items: center;
  a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 800;
  }
}
#tools {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0.5rem;
  a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.3rem;
  }
}
/*************** Nav ***************/
nav {
  background-color: var(--secondary);
  font-size: 1.2rem;
  max-width: 100%;
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      li {
        padding: 1rem 0.5rem 1rem 0.5rem;
        &:hover {
          background-color: var(--accent);
          cursor: pointer;
        }
      }
  }
}
/*************** Footer ***************/
footer {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
/*************** Index ***************/
h1 {
  font-weight: 500;
  padding: 0.5rem;
}
#wrapper {
  background-color: var(--background);
  width: 100%;
  height: 100%;
}
.heroImage {
  display: grid;
  position: relative;
  img {
      width: 90%;
      justify-self: center;
    }
}
.overlay {
  display: grid;
  justify-content: center;
  background-color: #ffffffb3;
  color: var(--accent);
  position: absolute;
  left: 7%;
  max-height: 100%;
  max-width: 35%;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0.25rem;
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
  }
  img {
    max-width: 80%;
    justify-self: center;
  }
}
.content {
  h3 {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
  }
}
.upgrades {
  display: grid;
  grid-template: 20% 1fr 1fr / 1fr 1fr;
  margin: 0.25rem;
  justify-items: center;
  align-items: center;
  h3 {
    grid-column: 1 / 3;
  }
  figure {
    width: 95%;
    height: 95%;
    background-color: var(--secondary);
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0.5rem;
    img {
      max-height: 85%;
    }
    figcaption {
      text-align: center;
      a {
        color: var(--text);
      }
    }
  }
}
.reviews {
  margin: 0.25rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
/*************** Large Views ***************/
@media (min-width: 37.5em) {
  .siteName {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  nav {
    margin-left: 1rem;
    margin-right: 1rem;
    ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
  }
  #wrapper {
    max-width: 80vw;
    border: 0.5rem solid var(--accent);
    border-radius: 1rem;
    margin: auto;
  }
  body {
    background-image: url("../images/site/checkerboard.jpg");
  }
  .heroImage {
    img {
      max-width: 500px;
    }
  }
  .overlay {
    max-width: 45%;
    left: 15%;
    bottom: 15%;
    h2 {
      font-size: 1.2rem;
    }
    ul {
      font-size: 1rem;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reviews {
    order: 1;
    ul {
      li {
        line-height: 3;
      }
    }
  }
}