:root {
  /* colors */
  --text: #11141d;
  --background: #ffffff;
  --primary: #2b375e;
  --secondary: #90a0d0;
  --accent: #435fb1;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
body {
  font-family: "Noto Sans Coptic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--background);
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100vw;
}

/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*************** Header ***************/
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.siteName {
  display: flex;
  align-items: center;
  a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 800;
  }
}
#tools {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0.5rem;
  a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}
/*************** Nav ***************/
nav {
  background-color: var(--secondary);
  font-size: 1.2rem;
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
      li {
        font-size: 1rem;
        background-color: var(--secondary);
        padding: 1rem 0.5rem 1rem 0.5rem;
        &:hover {
          background-color: var(--accent);
          cursor: pointer;
        }
      }
      a {
          color: var(--text);
          text-decoration: none;
      }
  }
}
/*************** Footer ***************/
footer {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
/*************** Messages ***************/
.notice {
  list-style: none;
  color: var(--primary);
}
/*************** Index ***************/
h1 {
  font-weight: 500;
  padding: 0.5rem;
}
#wrapper {
  background-color: var(--background);
  width: 100%;
  height: 100%;
}
.heroImage {
  display: grid;
  position: relative;
  img {
      width: 90%;
      justify-self: center;
    }
}
.overlay {
  display: grid;
  justify-content: center;
  background-color: #ffffffb3;
  color: var(--accent);
  position: absolute;
  left: 7%;
  max-height: 100%;
  max-width: 35%;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0.25rem;
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
  }
  img {
    max-width: 80%;
    justify-self: center;
  }
}
.content {
  h3 {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
  }
}
.upgrades {
  display: grid;
  grid-template: 20% 1fr 1fr / 1fr 1fr;
  margin: 0.25rem;
  justify-items: center;
  align-items: center;
  h3 {
    grid-column: 1 / 3;
  }
  figure {
    width: 95%;
    height: 95%;
    background-color: var(--secondary);
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0.5rem;
    img {
      max-height: 85%;
    }
    figcaption {
      text-align: center;
      a {
        color: var(--text);
      }
    }
  }
}
.reviews {
  margin: 0.25rem;
  display: grid;
  justify-items: center;
  align-items: center;
}
/*************** Inventory Pages ***************/
#inv-display {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    justify-items: center;
    margin: 1rem;
    padding: 0;
  li {
    margin: 1rem;
    img {
      max-width: 100%;
      margin: auto;
    }
    a {
      color: var(--text);
      font-size: 1rem;
      &:hover {
        color: var(--accent);
      }
    }
  }
}

.namePrice {
  text-align: center;
  h2 {
    margin: 0;
  }
}

/*************** Error Page ***************/

.error {
  margin: auto;
  text-align: center;
}

/*************** Inventory Details Page ***************/

.inv-detail {
   margin: auto;
   padding: 1rem;
   h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
   }
   img {
    width: 90%;
   }
   span {
    font-weight: bold;
   }
}

/*************** Login & Registration Page & Other Forms ***************/
#login-header {
  margin-bottom: 0;
  margin-left: 1rem;
}
.login, .registration, .add-classification, .add-inventory, .inventory-management {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border: 0.25rem solid var(--accent);
  border-radius: 0.25rem;
  max-width: 75%;
  margin: 1rem;
  font-size: 1.2rem;
  label {
    font-weight: bold;
    margin: 0.25rem;
  }
  input, select {
    max-width: 90%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    margin: 0.25rem;
  }
  p {
    margin: 0.25rem;
  }
  a {
    color: var(--text);
  }
}
#login-button {
  background-color: var(--accent);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--background);
  &:hover {
    background-color: var(--text);
  }
}
.required {
  font-size: 0.9rem;
  font-style: italic;
}

.required-asterisk {
  font-weight: normal;
}

#required-list {
  margin: 0;
  font-size: 0.8rem;
  li {
    font-style: italic;
  }
}

/*************** Account Page ***************/

#account-welcome {
  text-align: center;
}

/*************** Management Page ***************/

.management {
  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  a {
    background-color: var(--primary);
    color: var(--background);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.4rem;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: var(--secondary);
      color: var(--text);
    }
  }
}

.inventory-management {
  justify-self: center;
  padding: 1rem;
  select {
    justify-self: center;
    margin: 0.25rem;
  }
  h2 {
    margin: 0;
    text-align: center;
  }
  table {
    justify-self: center;
    max-width: 90%;
    font-size: 1rem;
    th {
      text-align: left;
    }
    td {
      padding: 0.25rem;
    }
  }

}

/*************** Permissions Page ***************/

#userPermissions {
  min-width: 300px;
  padding: 0.5rem
}
#userDisplay {
  table {
    max-width: 90%;
    font-size: 0.8rem;
    display: block;
  }
  th {
    text-align: center;
    padding: 0.1rem;
  }
}

/*************** Large Views ***************/
@media (min-width: 37.5em) {
  .siteName {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  nav {
    margin-left: 1rem;
    margin-right: 1rem;
    ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
  }
  #wrapper {
    max-width: 80vw;
    border: 0.5rem solid var(--accent);
    border-radius: 1rem;
    margin: auto;
  }
  body {
    background-image: url("../images/site/checkerboard.jpg");
  }
  .heroImage {
    img {
      max-width: 500px;
    }
  }
  .overlay {
    max-width: 45%;
    left: 15%;
    bottom: 15%;
    h2 {
      font-size: 1.2rem;
    }
    ul {
      font-size: 1rem;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reviews {
    order: 1;
    ul {
      li {
        line-height: 3;
      }
    }
  }
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .inv-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
      grid-column: 1 / 3;
    }
    img, .detail-text {
      align-self: center;
    }
  }
  .login, .registration, .add-classification {
    max-width: 25%;
  }
}