<%# Content Heading %>
<% if (title) { %>
    <h1 id="login-header">
    <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

<form action="/inv/add-classification" method="post" class="add-classification">
    <label for="classification_name">Classification Name</label>
    <p class="required">Classification name must not contain any spaces or special characters.</p>
    <input type="text" id="classification_name" name="classification_name" required value="<%= locals.classification_name %>" pattern="^[A-Za-z]+$">
    <input type="submit" value="Add Classification" id="login-button">
</form>